<!--About-->

<section class="about">
<div class="container">
    <div class="about__inner">
        <div class="about__photo">
            <img src="../src/images/home/people.jpg" alt="people" width="670px" height="460px">
        </div>

        <div class="about__content">
            <h3 class="about__subtitle">What you are looking for</h3>
            <h2 class="about__title">We provide bespoke solutions</h3>
                <div class="about__text">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae
                        laudantium asperiores nam
                        aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
                        maiores deleniti?</p>
                </div>
                <button class="button btn--whiteborder" type="button">Read More</button>
        </div>
    </div>
</div>
</section>