<!--Buisnes Cases-->

<section class="section section-speciality">
    <div class="container">
        <h3 class="cases__subtitle">This is what we do</h3>
        <h2 class="cases-title">Business Cases</h2>
        <p class="cases_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
        <div class="speciality">
            <div class="doings-branch">
                <img src="../src/images/cases/cases1.jpg" alt="case1" width="421" class="doings-branch__image">

            </div>


            <div class="doings-branch">
                <img src="../src/images/cases/cases2.jpg" alt="cases name 2" width="421" class="doings-branch__image">

            </div>


            <div class="doings-branch">
                <img src="../src/images/cases/cases3.jpg" alt="cases name" width="421" class="doings-branch__image">




                <div class="doings-branch">
                    <img src="../src/images/cases/cases4.jpg" alt="cases name" width="421" class="doings-branch__image">

                </div>


                <div class="doings-branch">
                    <img src="../src/images/cases/cases5.jpg" alt="cases name" width="421" class="doings-branch__image">

                </div>


                <div class="doings-branch">
                    <img src="../src/images/cases/cases6.jpg" alt="cases name" width="421" class="doings-branch__image">

                </div>


                <div class="doings-branch">
                    <img src="../src/images/cases/cases7.jpg" alt="cases name" width="421" class="doings-branch__image">

                </div>

                <div class="doings-branch">
                    <img src="../src/images/cases/cases8.jpg" alt="cases name" width="421" class="doings-branch__image">

                </div>

            </div>
        </div>
</section>