<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="./index.html" class="logo"><svg class="header__icon" width="39.31px" height="30.63px">
                        <use href="../src/images/svg/sprite.svg#icon-logo"></use>
                    </svg> <span class="logo__primary">Finance</span>Ledger</a>
            </div>

            <nav class="nav">
                <a href="" class="nav__link nav__link--current">Home</a>
                <a href="" class="nav__link">About</a>
                <a href="" class="nav__link">Cases</a>
                <a href="" class="nav__link">Blog</a>
                <a href="" class="nav__link">Contact</a>
            </nav>
        </div>
    </div>
</header>